# Node
node_modules/
dist/
.env
backend/serviceAccount.json
serviceAccount.json

# Flutter
.dart_tool/
.idea/
.vscode/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
android/.gradle
android/app/build/
android/local.properties
web/build/
*.iml
pubspec.lock
